src/BeSimple/SoapServer/Tests/DummyService.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://schema.testcase" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schema.testcase">
	<wsdl:types>
		<xsd:schema targetNamespace="http://schema.testcase">
			<xsd:complexType name="SoapHeaderEntity">
				<xsd:sequence>
					<xsd:element name="user" type="xsd:string" minOccurs="1">
						<xsd:annotation>
							<xsd:documentation>User name for authorization</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SoapHeader" type="tns:SoapHeaderEntity"/>
			<xsd:complexType name="DummyServiceRequest">
				<xsd:sequence>
					<xsd:element name="dummyAttribute" type="xsd:int" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DummyServiceResponse">
				<xsd:sequence>
					<xsd:element name="status" type="xsd:boolean" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DummyServiceRequestWithAttachments">
				<xsd:sequence>
					<xsd:element name="dummyAttribute" type="xsd:int" minOccurs="1"/>
					<xsd:element name="includeAttachments" type="xsd:boolean" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DummyServiceResponseWithAttachments">
				<xsd:sequence>
					<xsd:element name="status" type="xsd:boolean" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<message name="SoapHeader">
		<part name="SoapHeader" element="tns:SoapHeader"/>
	</message>
	<message name="DummyServiceRequest">
		<part name="request" type="tns:DummyServiceRequest"/>
	</message>
	<message name="DummyServiceRequestWithAttachments">
		<part name="request" type="tns:DummyServiceRequestWithAttachments"/>
	</message>
	<message name="DummyServiceResponse">
		<part name="dummyServiceReturn" type="tns:DummyServiceResponse"/>
	</message>
	<message name="DummyServiceResponseWithAttachments">
		<part name="dummyServiceReturn" type="tns:DummyServiceResponseWithAttachments"/>
	</message>
	<wsdl:portType name="DummyServiceSoapPortType">
		<wsdl:operation name="dummyServiceMethod">
			<wsdl:input message="tns:DummyServiceRequest"/>
			<wsdl:output message="tns:DummyServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="dummyServiceMethodWithAttachments">
			<wsdl:input message="tns:DummyServiceRequestWithAttachments"/>
			<wsdl:output message="tns:DummyServiceResponseWithAttachments"/>
		</wsdl:operation>
	</wsdl:portType>
	<binding name="DummyServiceSoapBinding" type="tns:DummyServiceSoapPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="dummyServiceMethod">
			<soap:operation soapAction="DummyService.dummyServiceMethod" style="rpc"/>
			<wsdl:input>
				<soap:header use="literal" message="tns:SoapHeader" part="SoapHeader" namespace="http://schema.testcase"/>
				<soap:body use="literal" part="request" namespace="http://schema.testcase"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://schema.testcase"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="dummyServiceMethodWithAttachments">
			<soap:operation soapAction="DummyService.dummyServiceMethodWithAttachments" style="rpc"/>
			<wsdl:input>
				<soap:header use="literal" message="tns:SoapHeader" part="SoapHeader" namespace="http://schema.testcase"/>
				<soap:body use="literal" part="request" namespace="http://schema.testcase"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://schema.testcase"/>
			</wsdl:output>
		</wsdl:operation>
	</binding>
	<wsdl:service name="DummyService">
		<xsd:documentation>WSDL file for DummyService</xsd:documentation>
		<port name="DummyServiceSoapPortType" binding="tns:DummyServiceSoapBinding">
			<soap:address location="http://schema.testcase"/>
		</port>
	</wsdl:service>
</wsdl:definitions>
